.navbar-img{

    width: 70px;
    height: 70px;
    box-sizing: content-box;

}

td button{

    color: white !important;
    padding: 1px 5px !important;
    font-weight:500 !important;
    
}


.table-icon{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    box-sizing: content-box;

}

.table-icon:hover{

    background-color: grey;
    cursor: pointer;

}

.table-icon svg{


    color: grey;
}
.table-icon:hover svg{

    color: white;
}

td .col{

    flex-grow: 0;

}

.card{

    margin-bottom: 1em;

}

.card-header{

    font-size: 20pt;

}

table button{

    text-wrap-mode: nowrap;

}

label{

    font-size: 15pt;

}

input, select, textarea{

    font-size: 14pt !important;

}